h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.text-right {
  text-align: right;
}

#report_wrapper {
  padding: 1rem;
  height: 900px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#report_out_wrapper {
  max-width: 790px;
  margin: 2rem 0;
  height: 100%;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-grey {
  background-color: #ddd;
}

.export-btn {
  padding: 0.5rem;
}

.coding-rules-detail-description {
  margin-top: 0;
}

.coding-suggestion {
  padding: 0.5rem;
  border-top: 1px solid red;
}

.coding-suggestion p,
.coding-suggestion h2,
.coding-suggestion pre {
  margin: 0;
}

.coding-suggestion ul {
  margin: 0.5rem;
}

.pagebreak {
  margin-top: 50px;
}

.pagebreak:first-child {
  margin-top: 0px;
}

@media print {
  #report_wrapper {
    height: 100% !important;
    overflow: visible;
  }

  .pagebreak {
    padding: 1rem;
    margin-top: 0;
    page-break-before: always;
  }
}